# directories
/data/
/models/
/scratch_notebooks/peter/
/stanford_nlp_models

# environment
multivac/
.env
src/pubmed-parser
src/slate
.idea

# juypter notebook
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# workspaces
.code-workspace

# system files
.DS_Store
